.burgerlogo {
  display: flex;
  width: 10%;
}

.jefflogo {
  display: flex;
  width: 20%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
  background-color: #F5EBDC;
}

