body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #F5EBDC;
}

.jefflogo{
    width: 100px;
    height: auto;
}

.container {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.content{
    display: flex;
    flex-direction: row;
    height: 900px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.slideshow-content {
    width: 75%;
    height: 500px; /* Example height to ensure visibility */
    position: relative; /* Helps with layout */
}

.slideshow-content img {
    width: 75%;
    height: 700px;
    object-fit: cover; /* Crops the image */
    display: block;
}

.homelinks-content {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 80%;
    
}

.storelocator, .about {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #FF8731;
    width: 300px;
    height: 40%;
    margin: auto;
    border-radius: 10px;
    font-size: 2.5rem;
    text-align: center;
    text-decoration: none;
    color: white;
}

.storelocator:hover, .about:hover {
    background-color: #FFA94D;
    transition: ease-in-out 0.3s;
}

.container h1 {
    font-size: 3rem;
    padding: 1%;
}

/* Hide all slides by default */
.mySlides {
    display: none;
}

/* Optional: Add a fade effect
.fade {
    animation: fade 5s ease;
}


@keyframes fade {
    0%,100% { opacity: 0.5; }
    50% { opacity: 1; }
} */



@media screen and (max-width: 800px) {
    .homelinks-content {
        flex-direction: row;
        margin: auto;
        width: 90%;
        margin-top: -15%;
        
    }
    .slideshow-content {
        width: 100%;
    }
    .content {
        flex-direction: column;
    }
    .storelocator {
        margin-right: 5%;
    }
    .about {
        margin-left: 5%;
    }
    .slideshow-content img {
        height: 500px;
    }
}



